#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

@import "side_panel.scss";
@import "board.scss";