$base-width: 50px;

:root {

    .board {
        width: $base-width * 14;
        height: $base-width * 14;
        background-color: bisque;
        display: flex;
        flex-wrap: wrap;

        .square-container {
            display: flex;
            flex-wrap: wrap;

            .square{
                width: $base-width;
                height: $base-width;
                border: 1px solid black;
                box-sizing: border-box;
            }
        }

        .row1,
        .row3 {
            display: flex;

            .square-container {
                width: $base-width * 3;
                height: $base-width * 6;
                background-color: red;
            }
        }

        .row2 {
            display: flex;

            .square-container {
                width: $base-width * 6;
                height: $base-width * 3;
                background-color: red;
            }
        }

        .home {
            width: $base-width * 6;
            height: $base-width * 6;
            background-color: blue;

            position: relative;

            .pawn {
                position: absolute;

                &:nth-of-type(1) {
                    top: $base-width;
                    left: $base-width;
                }

                &:nth-of-type(2) {
                    top: $base-width;
                    right: $base-width;
                }

                &:nth-of-type(3) {
                    bottom: $base-width;
                    left: $base-width;
                }

                &:nth-of-type(4) {
                    bottom: $base-width;
                    right: $base-width;
                }

            }
        }

        .arrival {
            width: $base-width * 3;
            height: $base-width * 3;
            background-color: aqua;
        }
    }
}